<nav class="px-4 py-2.5 fixed left-0 right-0 top-0 z-50" style="background-color: #414242; border-bottom: 1px solid #a8edf6;">
  <div class="flex items-center justify-between relative">
      <!-- Left section: Sidebar toggle and logo -->
      <div class="flex items-center">
          <button
              data-drawer-target="drawer-navigation"
              data-drawer-toggle="drawer-navigation"
              aria-controls="drawer-navigation"
              class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
              <svg
                  aria-hidden="true"
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
              >
                  <path
                      fill-rule="evenodd"
                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"
                  ></path>
              </svg>
              <span class="sr-only">Toggle sidebar</span>
          </button>
          <a href="{% url 'home' %}" class="flex items-center justify-between">
              <span class="text-lg font-semibold whitespace-nowrap" style="color: rgb(245, 242, 242);">
                  Company Name
              </span>
          </a>
      </div>

      </div>
  </div>
</nav>
